[Unit]
Description=Raspberry Pi Web Video Streamer

[Service]
User=pi
WorkingDirectory=/home/pi/pi-video-streamer/app
ExecStart=/usr/bin/bash -c '/home/pi/.local/bin/uv run python app.py'
Restart=on-failure
RestartSec=30s
StartLimitBurst=3
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target